.addFolderForm {
  position: absolute;
  top: 55%;
  left: 47%;
  width: 235px;
  height: 150px;
  background: $whiteColor;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 17px;
  &__cancel {
    @include flexMixin(row, center, center);
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba($color: black, $alpha: 0.8);
    border-radius: 50%;
    .times {
      transform: rotate(45deg);
    }
  }
  &__colors {
    margin: 13px 0px;
    .icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
  &__activeIcon {
    border: 2px solid black;
  }
  &__add {
    width: 100%;
  }
}
